.App2 {
    text-align: center;
  }
  .App2 {
    text-align: center;
    background-image: url('../../assets/background/terra.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;       
    display: flex;
    align-items: center;     
    justify-content: center; 
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .pokemon-card2 {
    text-align: center;
    padding: 10px;
    height: 360px;
    width: 180px;
    margin: auto;
    background: radial-gradient(white, rgb(15, 96, 161));
    border-radius: 10px;
  }