  .App {
    text-align: center;
    background-size: cover;
    background-image: url('../../assets/background/agua\ 2.png');
    background-position: center;
    min-height: 100vh;       
    display: flex;
    align-items: center;     
    justify-content: center; 
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .voltar{
    color: transparent;
    background-image: url("../../assets/voltar\ 3.png");
    width: 40px;
    height: 40px;
    background-size: cover ;
    background-position: center;
    background-color: transparent;
    border: transparent;  
    cursor: pointer;
    margin-top: 40px;
    position: fixed;
    top: 6px;
    left: 10px
 
  }
  .App.corpo{
    background-image: url('../../assets/background/normal\ 2.png');
    text-align: center;
    background-size: cover;
    background-position: center;
  }
  .App.natureza{
    background-image: url('../../assets/background/agua.jpg');
    text-align: center;
    background-size: cover;
    background-position: center;
  }
  .App.mente{
    background-image: url('../../assets/background/psychic\ 5.png');
    text-align: center;
    background-size: cover;
    background-position: center;
  }
  .App.agua {
    background-image: url('../../assets/background/agua\ 2.png');
    text-align: center;
    background-size: cover;
    background-position: center;
  }
  .App.tempestade {
    background-image: url('../../assets/background/floresta.jpg');
    text-align: center;
    background-size: cover;
    background-position: center;
  }
  
  .Pokemon-card {
    text-align: center;
    padding: 10px;
    height: 360px;
    width: 180px;
    margin: auto;
    background: radial-gradient(white, rgb(15, 96, 161));
    border-radius: 10px;
  }
.pokemon-card.water{
    background: radial-gradient(white, rgb(15, 96, 161));
}

.pokemon-card.psychic{
    background: radial-gradient(white, rgb(77, 17, 126));
}
.pokemon-card.poison{
    background: radial-gradient(white, rgb(53, 71, 73));
}
.pokemon-card.normal{
  background: radial-gradient(white, rgb(194, 212, 214));
}
.evoluçao{
  color: transparent;
        background-image: url("../../assets/Pokeball.png");
        width: 40px;
        height: 40px;
        background-size: cover ;
        background-position: center;
        background-color: transparent;
        border: transparent;  
        cursor: pointer;
        margin-top: 15px; 
}
.evoluçao:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease
}
.evoluçao2{
  color: transparent;
        background-image: url("../../assets/Ultra\ Ball.png   ");
        width: 40px;
        height: 40px;
        background-size: cover ;
        background-position: center;
        background-color: transparent;
        border: transparent;  
        cursor: pointer;
        margin-top: 15px; 
}
.evoluçao2:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease
}
.evoluçao3{
  color: transparent;
        background-image: url("../../assets/master-ball.png");
        width: 40px;
        height: 40px;
        background-size: cover ;
        background-position: center;
        background-color: transparent;
        border: transparent;  
        cursor: pointer;
        margin-top: 10px; 
}
.evoluçao3:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease
}