.App {
  text-align: center;
}
.App {
  background-image: url('../assets/capa.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pokemon-card{
  padding: 100%;
  text-align: center;
  box-align: center;
  padding: 10px;
  height: 310px;
  width: 170px;
  margin: 190px auto 0 auto;
  background: radial-gradient(white , rgb(100, 100, 100));
  border-radius: 10px;
}
