.App {
  text-align: center;
}
.App {
  text-align: center;
  background-image: url('assets/capa.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;       
  display: flex;
  align-items: center;     
  justify-content: center; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pokemon-card {
  text-align: center;
  padding: 10px;
  height: 360px;
  width: 170px;
  margin: auto;
  background: radial-gradient(white, rgb(100, 100, 100));
  border-radius: 10px;
}
